.static-box {
    background-color: pink;
    color: white;
    height: 100px;
    position: static;
}
.relative-box {
    background-color: palevioletred;
    color: white;
    height: 100px;
    position:relative;
    top: -20px;
    right: 30px;  
}
.absolute-box {
    background-color: palevioletred;
    color: white;
    height: 100px;
    position: absolute; 
    top: 10px;
    left:15px;  
}
.fixed-box {
    background-color: palevioletred;
    color: white;
    height: 100px;
    position: fixed; 
    bottom: 10px;
    right:10px; 
}
.sticky-box {
    background-color: palevioletred;
    color: white;
    height: 100px;
    position: sticky; 
   top:10px; 
}
